[Unit]
Description=mqtt agent Service

[Service]
Type=simple
User=user
Group=user
WorkingDirectory=/PATH/TO/WORKINGDIRECTORY
ExecStart=/PATH/TO/MAIN/PRORAM
ExecReload=/PATH/TO/MAIN/PRORAM
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target